version: 2

jobs:
  echo_a:
    step:
      - run:
          name: echo
          command: echo ALFARSHEAR
  echo_b:
    step:
      - run:
          name: echo
          command: echo BAROQUE
  echo_c:
    step:
      - run:
          name: echo
          command: echo CROSSBELL

workflows:
  version: 2
  message_a:
    jobs:
      - wait_approve_a:
          type: approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v([0-9]+\.){2}[0-9]+/
      - echo_a:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v([0-9]+\.){2}[0-9]+/
          requires:
            - wait_approve_a
  message_b:
    jobs:
      - wait_approve_b:
          type: approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v([0-9]+\.){2}[0-9]+/
      - echo_b:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v([0-9]+\.){2}[0-9]+/
          requires:
            - wait_approve_b
  message_c:
    jobs:
      - wait_approve_c:
          type: approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v([0-9]+\.){2}[0-9]+/
      - echo_c:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v([0-9]+\.){2}[0-9]+/
          requires:
            - wait_approve_c
