version: 2

jobs:
  test:
    docker:
      - image: circleci/python:3.7
    steps:
      - run:
          name: first
          command: |
            echo "first"
      - run:
          name: second
          command: echo "second"
          when: on_fail
      - run:
          name: third
          command: echo "third"
workflows:
  version: 2
  fail_test:
    jobs:
      - test